@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container{
    display: flex;
    flex-direction: column;
}

.game_container{
  width: 95%;
  height:100vw;
  border: 3px solid $green;
  align-self: center;
  position: relative;
  @include breakpoint(tablet){
    height:80vw;  
  }
  @include breakpoint(desktop){
    height:68vw;  
  }
  @include breakpoint(desktopxl){
    height:40vw;  
  }
  #ball{
    width: 30px;
    height: 30px;
    background-color: $red;
    border-radius: 25px;
    position: absolute;
    left: calc(50% - 15px);
    top:  calc(50% - 15px);
    z-index: 1;
  }
  #eat{
    width: 12px;
    height: 12px;
    background-color: $yellow;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}