@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  @include breakpoint(desktop){
    height: 95vh;   
  }
}

.game_container{
  width: 95%;
  height:75%;
  border: 3px solid $green;
  position: relative;
  align-self: center;
  @include breakpoint(tablet){
    height:65%;  
  }
  @include breakpoint(tablethorizontal){
    height:75%;  
  }
  @include breakpoint(desktop){
    height:85%;   
  }
  #ball{
    width: 30px;
    height: 30px;
    background-color: $red;
    border-radius: 25px;
    position: absolute;
    left: calc(50% - 15px);
    top:  calc(50% - 15px);
    z-index: 1;
  }
  #eat{
    width: 12px;
    height: 12px;
    background-color: $yellow;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}